<!DOCTYPE html>
<html>
<head>
	<title>Woodstocks</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style type="text/css">
		html {
			background: url(static/wallstreet.jpg) no-repeat center center fixed;
			background-size: cover;
		}

		.content {
			text-align: center;
			margin-top: 10em;
		}

		#stockCards {
			margin-top: 5em;
		}
	</style>
	</head>
<body>
	<div class="col-md-6 col-md-offset-3">
		<div class="content">
			<h1>Woodstocks</h1>
			<br />
			<form class="form-inline" id="stockForm" method="POST" action="/stockquote">
				<div class="form-group col-md-12 col-xs-12">			
					<input id="stockInput" type="text" class="form-control" name="stockInput" placeholder="Enter stock name">
					<button class="btn btn-success" type="submit">Find</button>			
				</div>
			</form>

			<div id="stockCards">
				
			</div>
			<btn			
		</div>		
	</div>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>